/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter-Variable-font, sans-serif);
  font-variation-settings: "wght" var(--font-weight-card-text);
  margin-top: 100px;
  font-size: var(--main-font-size);
  background-attachment: fixed;
  background-image: var(--page-background);
  background-size: cover;
  background-position: center;
}

.center {
  width: var(--header-width);
  margin: auto;
}

.button {
  position: relative;
  background: var(--main-background-color);
  border: 2px solid var(--main-text-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  z-index: 1;
}

.button:focus {
  outline: none;
}

.button:hover {
  box-shadow: 2px 2px 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--main-background-color);
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--PressStart2P-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
}

.header__text-container {
  background-color: var(--main-background-color);
  font-family: var(--PressStart2P-font, sans-serif);
  display: flex;
  flex-direction: column;
  height: 368px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--main-text-color);
}

.header__text-container-title {
  font-size: var(--title-font-size);
}

.header__text-container-subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.676rem + 0.85vw, 1.4375rem);
}

.content {
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--card-container-gap);
  overflow: hidden;
}

.card-container_item {
  background-color: var(--main-background-color);
  border: 2px solid var(--main-text-color);
}

.card-container_item-title {
  font-variation-settings: "wght" 700;
  font-style: bold;
  padding: 3px 24px 3px 10px;
  font-size: var(--main-font-size);
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.image-wrapper_label {
  font-family: var(--PressStart2P-font, sans-serif);
  font-size: 14px;
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--main-background-color, #fff),
    0 1px var(--main-background-color, #fff),
    1px 0 var(--main-background-color, #fff),
    0 -1px var(--main-background-color, #fff);
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--main-background-color)) or
    (-webkit-text-stroke: 1px var(--main-background-color))
) {
  .image-wrapper_label {
    text-shadow: none;
    text-stroke: 1px var(--main-background-color);
    -webkit-text-stroke: 1px var(--main-background-color);
  }
}

.bus__grayscale {
  filter: grayscale(50%);
}

.bus__saturate {
  filter: saturate(400%);
}

.bus__hue-rotate {
  filter: hue-rotate(180deg);
}

.bus__blur {
  filter: blur(8px);
}

.bus__sepia {
  filter: sepia(1);
}

.bus__invert {
  filter: invert(100%);
}

.bus__sepia-rotate {
  filter: sepia(1) hue-rotate(90deg);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 0 25px;
}

.card__button-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.card__icon-button {
  padding: 9px 0 0 0;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-animation 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-text-color);
}

.save__button-wrapper {
  margin-top: 48px;
  width: 335px;
  height: 51px;
  margin-bottom: 103px;
}

.save__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--main-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 21px;
  font-size: 14px;
  text-wrap: nowrap;
}
.floppy {
  width: 21px;
  height: 21px;
}

.modal[open] {
  width: 353px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.modal__title {
  font-family: var(--PressStart2P-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  text-transform: uppercase;
}

.dialog-text-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.modal[open] .floppy {
  width: 39px;
  height: 39px;
}

.modal__button {
  border: 2px solid var(--main-text-color);
}
