/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable", Arial, sans-serif;
  --accent-font: "PressStart2P", fantasy;

  --font-weight-normal: 410;
  --main-font-size: 18px;

  --main-text-color: #000;
  --main-background-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;

  --header-width: clamp(min(100%, 375px), 50vw, 700px);
  --title-font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  --card-container-gap: 49px;
  --page-background: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

}
